.hero-header {
    background: url(/img/BG.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.navbar{
    background-color: #41B5A7;
}

.table-header{
    background-color: #b7e7e1;
}



 